<p-splitter layout="verical">
  <ng-template pTemplate="Panel">
      <div class="flex items-center justify-center h-full">
        <ul style="line-height:170%">
          <li><span style="color: #00f;">Bank-Account-App</span> is an app base microservices with business
            services:
            <span style="color: #f00;">customer</span>,
            <span style="color: #f00;">bank-account</span>,
            <span style="color: #f00;">operation</span>,
            <span style="color: #f00;">notification</span>
          </li>
          <li>each business microservice has its own <span style="color: #f00;">db</span></li>
          <li>each business microservice implements a <span style="color: #f00;">architecture hexagonale</span></li>
          <li>business microservices interact between:
            <span style="color: #f00;">bank-account</span> interacts with
            <span style="color: #f00;">customer</span> and
            <span style="color: #f00;">operation</span> interacts with
            <span style="color: #f00;">bank-account</span>
          </li>
          <li><span style="color: #00f;">gateway-service-proxy</span> routes <span style="color: #f00;">frontend app</span>
            requests
            to the bankend microservices</li>
        </ul>  
      </div>
  </ng-template>
  <ng-template pTemplate="Panel">
      <div class="flex items-center justify-center h-full">
        <ul style="line-height:170%">
          <li><span style="color: #00f;">Keycloak</span> identity provider authenticate and authorize all users' requests
          </li>
          <li> <span style="color: #00f;">Bank-Account-App stack </span> is deployed into <span style="color: #f00;"> docker
              images</span></li>
          <li>on backend side, <span style="color: #00f;">kafka infrastructure</span> is used to publish events related to
            users requests</li>
          <li> when a kafka event is published in
            <span style="color: #f00;"> topic</span>, <span style="color: #00f;">bs-ms-notification</span> sends an email using
            <span style="color: #f00;">email-sender-servers</span>: <span style="font-weight: bold;font-size: small;">MAILHOG</span>
             and <span style="font-weight: bold; font-size: small;">GMAIL</span>
          </li>
          <li> <span style="color: #f00;">docker containers</span> of Bank-Account-App stack are deployed into a <span
              style="color: #f00;">minikube cluster</span>
            using <span style="color: #f00;">Kubernetes</span> </li>
        </ul>
      </div>
  </ng-template>
</p-splitter>

<div style="width:80%; align-content: flex-end;" >
  <video id="banner-video" autoplay muted playsinline loop>
      <source [src]="imagePath" type="video/webm">
    </video>
</div>

for more details: <a [href]=gitRepository>
  git repo</a>

  
    
